@using Microsoft.AspNetCore.Identity
@using PetApp.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" href="/profile" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" href="/logout">Log out</a>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" href="/login" >Login</a>
        </li>
    }
</ul>

