
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{
    <link rel="stylesheet" href="~/css/novideo.css" />

    <link rel="stylesheet" href="~/css/register.css" />

}
@using Microsoft.AspNetCore.Identity
@using PetApp.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<form action="/login-user" method="post">
    <h1>Login</h1>
    <div class="container" style="width: 700px;">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit" class="registerbtn">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <h2>@ViewBag.Message</h2>
    </div>
</form>