
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{
    <link rel="stylesheet" href="~/css/novideo.css" />

    <link rel="stylesheet" href="~/css/register.css" />
    <link rel="stylesheet" href="~/css/quiz.css" />

}

<form action="/register-user" method="post">
    <div class="container" style="width: 800px; margin-top:50px; border-radius:10px">
        <h2 style="text-align:center"><b>Register</b></h2>
        <hr />
        <p style="text-align:center">Please fill in this form to create an account.</p>
        <hr>
        <label for="username"><b>Username:</b></label>
        <input type="text" placeholder="Enter username" name="username" id="username" required>
        <label for="first"><b>First Name:</b></label>
        <input type="text" placeholder="Enter First Name" name="first" id="first" required>
        <label for="last"><b>Last Name:</b></label>
        <input type="text" placeholder="Enter Last Name" name="last" id="last" required>
        <label for="email"><b>Email:</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
        <label for="psw"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

        <hr />
        <div style="display:flex">
            <h5>I'm the owner of a shelter</h5>
            <p style=" margin-left: 150px;font-size: 2em">
                <input type="checkbox" name="isShelter" value="true" id="isShelter" class="toggle" />
                <label for="isShelter"></label>
            </p>
        </div>
        <hr />

        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button type="submit" class="registerbtn" style="border-radius: 25px">Register</button>
        <div class="container signin" style="border-radius: 10px; background: antiquewhite">
            <p>Already have an account? <a href="/login">Sign in</a>.</p>
        </div>
    </div>


</form>