@model IEnumerable<PetApp.Models.Animal>
@{
    ViewData["Title"] = "ShelterProfile";
    Layout = "~/Views/AdoptionRequests/_ShelterLayout.cshtml";
}
<link rel="stylesheet" href="~/css/shelter_profile.css" />

<h3>Shelter's animals </h3>

<div class="text-center">
</div>
<div class="container">
    <div class="row col-xs-12 mx-auto">

        @foreach (var animal in Model)
        {
        <div class="col-xs-12 col-sm-3">
            <div class="card" style="background:url('/Images/Animals/@animal.Image')">
                <div class="card-description">
                    <p>@animal.Name</p>
                </div>
                <a class="card-link" href="/animal/@animal.Id"></a>
            </div>
        </div>
        }
    </div>

</div>