@using Microsoft.AspNetCore.Identity
@using PetApp.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/novideo.css" />

<div class="container-fluid mt--7">
    <div class="col-xl-9 order-xl-1">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item" style="margin-right:50px;">
                            <a class="nav-link" href="/profile">Your Information</a>
                        </li>
                        <li class="nav-item" style="margin-right:50px;">
                            <a class="nav-link" href="/requests">Adoption Requests</a>
                        </li>
                        <li class="nav-item" style="margin-right:50px;">
                            <a class="nav-link text-light btn btn-dark" id="register" href="/home/quiz">Find Your Perfect Pet</a>
                        </li>
                    </ul>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts
{
    @RenderSection("Scripts", required: false)

}