@using Microsoft.AspNetCore.Identity
@using PetApp.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card" style="margin-top:50px">
        <div class="card-header" style="background:antiquewhite; text-shadow: none">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item" style="margin-right:150px;">
                    <a class="nav-link" href="/profile" style="color:black"><b>Your Information</b></a>
                </li>
                <li class="nav-item" style="margin-right:150px;">
                    <a class="nav-link" href="/requests" style="color:black"><b>Adoption Requests</b></a>
                </li>
                <li class="nav-item" style="margin-right:150px;">
                    <a class="nav-link" href="/favorites" style="color:black"><b>Favorites</b></a>
                </li>
                <li class="nav-item" style="margin-bottom:10px;">
                    <a class="nav-link text-light btn" style="background-color: #ed5b0d!important" id="register" href="/home/quiz">Find Your Perfect Pet</a>
                </li>
            </ul>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @RenderSection("Scripts", required: false)

}
