@model IEnumerable<PetApp.Models.FavoriteAnimal>
@*@model IEnumerable<PetApp.Models.FavoriteAnimal>*@

@{
    ViewData["Title"] = "Favorites";
    Layout = "~/Views/AdoptionRequests/_ProfileLayout.cshtml";
}


@if (Model.Count() == 0)
{
    <div class="alert alert-light col-md-9 offset-md-2" role="alert">
        <h4 class="alert-heading">No favorites!</h4>
        <p> There are no favorite animals here for now.</p>
        <p> When you favorite an animal it will appear here.</p>
    </div>}
else
{
    @foreach (var req in Model)
    {
        <div class="card" style="margin: 15px;width: 700px; text-align: center; margin-left: 200px;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2">
                        <img class="img-responsive" src="~/Images/Animals/@req.AnimalImage" style="margin: 10px 25px 10px 25px; height: auto; width: 150px; border-radius: 5px">
                    </div>
                    <div class="col-md-4" style="padding-top:40px">
                        <h5 class="product-name" style="margin-top: 35px"><b>@req.AnimalName</b></h5>
                    </div>
                    <div class="col-md-4 text-right" style="padding-top:40px">
                        <div class="col-md-6 text-right" style="margin-top: 35px">
                            <h6><button class="btn"><a href="/Animal/@req.AnimalId"><b>Details</b></a></button> <span class="text-muted"></span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
}
