@model IEnumerable<PetApp.Models.Shelter>
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

<div class="container all_animals">
    <br />
    <h3 style="text-align:center"><b>OUR SHELTERS</b></h3>
    <hr />
    <div class="row col-xs-12 margin0">

        @foreach (var shelter in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4" style="padding: 10px 10px; width:250px; height:400px ">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="prod mbr-gallery-item">
                            @if (shelter.Image == null)
                            {
                                <a href="/Shelter/@shelter.Id">
                                    <img src="https://i.pinimg.com/originals/73/4d/71/734d71353465324d2128ce284c28efa3.jpg" width="300" height="200" />
                                </a>
                            }
                            else
                            { <a href="/Shelter/@shelter.Id"><img src="~/Images/Shelters/@shelter.Image" width="300" height="200" /></a>}
                        </div>
                        <div class="card-header" style="background: antiquewhite">
                            <h6 style="color: black; text-align: center; text-shadow: none; font-weight: bold;">@shelter.Name</h6>
                        </div>
                    </div>
                </div>
            </div>

        }


    </div>

</div>

