@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section css{
    <link rel="stylesheet" href="~/css/quiz.css" />
}<!-- Check out https://github.com/thekristin/randomized-quiz-sets for details -->
<h1 style="margin-left:340px;margin-bottom:40px; padding:25px">Find your perfect pet!</h1>
<div class="quiz-container">
    <!-- start Version 1 of quiz - only show if random number is 1 -->
    <div id="quiz1" class="quiz" style="display:block">
        <div class="questions">
            <h3>Are you looking for a dog or a cat?</h3>
            <div class="options">
                <div class="answer three" data-title="1" data-opts="2" data-val="Dog">Dog</div>
                <div class="answer three" data-title="1" data-opts="2" data-val="Cat">Cat</div>
                <div class="answer three clicked" id="preselected1" data-title="1" data-val="null">Both</div>
            </div>
        </div>
        <div class="questions row" style="margin-left:40px">
            <h3>Are you looking for a purebred animal?</h3>
            <p style="margin-left: 25px; font-size: 2em;">
                <input type="checkbox" data-val="true" data-title="2" id="test4" class="toggle" />
                <label for="test4"></label>
            </p>
        </div>
        <div class="questions">
            <h3>What about the age of the animal?</h3>
            <div class="options">
                <div class="answer four" data-title="3" data-val="Junior" data-opts="3">Junior(0-1.5 years old)</div>
                <div class="answer four" data-title="3" data-val="Adult" data-opts="3">Adult(1.5-7 years old)</div>
                <div class="answer four" data-title="3" data-val="Senior" data-opts="3">Senior(+7 years old)</div>
                <div class="answer four clicked" id="preselected3" data-title="3" data-val="null">Age doesn't really matter to me.</div>
            </div>
        </div>
        <div class="questions">
            <h3>What would be the ideal energy level of the animal?</h3>
            <div class="options">
                <div class="answer four" data-title="4" data-val="Low" data-opts="3">Low</div>
                <div class="answer four" data-title="4" data-val="Medium" data-opts="3">Medium</div>
                <div class="answer four" data-title="4" data-val="High" data-opts="3">High</div>
                <div class="answer four clicked" id="preselected4" data-title="4" data-val="null">It doesn't really matter to me.</div>
            </div>
        </div>
        <div class="questions">
            <h3>What size is your perfect pet?</h3>
            <div class="options">
                <div class="answer four" data-title="5" data-val="small" data-opts="3">Small</div>
                <div class="answer four" data-title="5" data-val="medium" data-opts="3">Medium</div>
                <div class="answer four" data-title="5" data-val="large" data-opts="3">Large</div>
                <div class="answer four clicked" id="preselected5" data-title="5" data-val="null">Any size is fine</div>
            </div>
        </div><div class="questions">
            <h3>What about gender?</h3>
            <div class="options">

                <div class="answer three" data-title="6" data-val="Female" data-opts="2">Female</div>
                <div class="answer three" data-title="6" data-val="Male" data-opts="2">Male</div>
                <div class="answer three clicked" id="preselected6" data-title="6" data-val="null">Doesn't matter.</div>
            </div>
        </div><div class="questions row" style="margin-left:40px">
            <h3>Do you have other dogs?</h3>
            <p style=" margin-left:25px;font-size: 2em;">
                <input type="checkbox" data-val="true" data-title="7" id="test1" class="toggle" />
                <label for="test1"></label>
            </p>
        </div>
        <div class="questions row" style="margin-left:40px">
            <h3>Do you have other cats?</h3>
            <p style="margin-left: 25px; font-size: 2em;">
                <input type="checkbox" data-val="true" data-title="8" id="test2" class="toggle" />
                <label for="test2"></label>
            </p>
        </div><div class="questions row" style="margin-left:40px">
            <h3>Do you have small children?</h3>
            <p style="margin-left: 25px; font-size: 2em;">
                <input type="checkbox" data-val="true" data-title="9" id="test3" class="toggle" />
                <label for="test3"></label>
            </p>
        </div>
    </div><div class="questions row" style="margin-left:40px">
        <h3>Would you take care of a special needs animal?</h3>
        <p style="margin-left: 25px; font-size: 2em;">
            <input type="checkbox" id="test5" data-val="true" data-title="10" class="toggle" />
            <label for="test5"></label>
        </p>
    </div>

    <div id="subBtn" class="submit">Find my pet!</div>

</div>
@section Scripts{
    <script src="~/js/quiz.js"></script>
}