@model IEnumerable<PetApp.Models.Animal>
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

<div class="container all_animals">
    <br />
    <h3 style="text-align:center"><b>OUR ANIMALS</b></h3>
    <hr/>
    <div class="row col-xs-12 margin0">
            @foreach (var animal in Model.Where(a => a.IsAdopted != true).ToList())
            {
                <div class="col-xs-12 col-sm-3">
                    <div class="card" style="background:url('/Images/Animals/@animal.Image')">
                        <div class="card-description">
                            <p style="text-shadow: 1px 1px 20px black, 1px 1px 20px black, 1px 1px 20px black, 1px 1px 20px black, 1px 1px 20px black, 1px 1px 20px black, 1px 1px 20px black;">@animal.Name</p>
                        </div>
                        <a class="card-link" href="/animal/@animal.Id"></a>
                    </div>
                </div>
            }
        </div>
    </div>
@section Scripts{
    <script src="~/js/site.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/js/home.js"></script>
}