@model IEnumerable<PetApp.Models.Animal>
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/novideo.css" />
<link rel="stylesheet" href="~/css/home.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

<div class="text-center">
</div>
<div class="container">
    <h3>Our animals:</h3>
    <div class="row col-xs-12 margin0">
            @foreach (var animal in Model)
            {
                <div class="col-xs-12 col-sm-3">
                    <div class="card" style="background:url('/Images/Animals/@animal.Image')">
                        <div class="card-description">
                            <p>@animal.Name</p>
                        </div>
                        <a class="card-link" href="/animal/@animal.Id"></a>
                    </div>
                </div>
            }
        </div>
    </div>
@section Scripts{
    <script src="~/js/site.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/js/home.js"></script>
}