.carousel-animals {
    width: 313px;
    height: 300px;
    padding: 10px 0px 0px 15px;
}

.card-title {
    margin-bottom: -0.25rem;
    text-align: center;
}


.container {
    font-family: 'Poppins', sans-serif;
}

.about-image {
    position: relative;
}

    .about-image::before {
        position: absolute;
        content: '';
        background-image: url(https://i.ibb.co/d6KQxz0/dots.jpg);
        background-position: center center;
        background-size: 100%;
        width: 375px;
        height: 350px;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        z-index: -1;
    }

    .about-image .single-image {
        width: 360px;
    }

.float-left {
    float: left;
}

.about-image .single-image img {
    width: 100%;
}

.about-image .single-image.image-tow {
    margin-top: -200px;
    position: relative;
    z-index: 5;
}

.about-image .single-image {
    width: 360px;
}

.float-right {
    float: right;
}

.about-content h3 {
    color: #333;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
}

.about-content p {
    margin-bottom: 0px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #646464;
    font-family: 'Poppins', sans-serif;
}

/*.main-btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    border: 1px solid #eb3656;
    padding: 0 30px;
    line-height: 48px;
    color: #fff;
    transition: all .8s ease-out 0s;
    background-color: #eb3656;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}*/

/*    .main-btn:hover {
        background: #333;
        color: #fff;
        border-color: #333;
        transition: all .8s ease-out 0s;
        text-decoration: none;
    }*/
h2 {
    text-align: center;
    padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

    .slick-slide img {
        width: 100%;
    }

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


h1, h2, h3 {
    font-family: Raleway, Helvetica, sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;
}

.padded {
    padding: 100px 0;
}

.wrapper-grey {
    background: #F4F4F4;
}

.avatar {
    width: 30px;
    border-radius: 50%;
}

.avatar-bordered {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
}

.avatar-large {
    width: 50px;
}
/* .banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
} */

.card {
    height: 250px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-user {
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

    .card-description h2 {
        font-size: 22px;
    }

    .card-description p {
        font-size: 15px;
    }

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
}

    .card-link:hover {
        opacity: 0.1;
    }

.features img {
    width: 100px;
}

.features h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.features p {
    font-size: 15px;
    font-weight: lighter;
}

.banner_part:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 130px;
    background-image: url(../Images/banner_sharp.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_part {
    height: 550px;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url(../Images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.paws {
    position: relative;
    display: inline-block;
    margin-left: 850px;
}

.paws:before {
    left: -30px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.paws > span {
    color: #a2c0be;
    font-size: 2rem;
}


.paws:after {
    right: -30px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.boxed-btn3 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 17px 55px;
    font-family: "Poppins",sans-serif;
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-position: 100% 0;
    background-position: 0 0;
    background-image: -webkit-linear-gradient(0deg, #f14437 0%, #ed5b0d 99%);
}
.boxed-btn3:hover {
    background-size: 200% 200%;
    color: #fff;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

.single_adapt {
    margin-bottom: 40px;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
    border-radius: 14px;
    background: #fff;
    padding: 40px 40px 33px 40px;
}

.single_adapt .adapt_content h3 {
    font-size: 60px;
    font-weight: 700;
    font-family: "Poppins",sans-serif;
    color: #383737;
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 22px;
    line-height: 1;
}

.dog_thumb {
    position: absolute;
    bottom: 0;
    right: 10%;
    bottom: -55px;
    z-index: 1;
}

.banner_part .slider_text {
    position: relative;
    z-index: 6;
}

.banner_part .slider_text h3 {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 85px;
}

.all_animals {
    margin-top: 50px;
    background: white;
    border-radius: 10px;
}