@import url('https://fonts.googleapis.com/css?family=Abel|Shadows+Into+Light&display=swap');

/* This is the CSS you need at a very basic level to make this work */
.quiz {
    /* Hide all quizzes not selected */
    display: none;
}

#winner {
    /* Hide modal window until ready and make it full screen it when it is */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: none;
}
.container {
    font-family: 'Poppins', sans-serif;
}

.answer {
    /* Hovering over an answer shows the hand cursor */
    cursor: pointer;
}

.disable,
.clicked {
    /* If clicked, cursor should not change */
    cursor: default;
}

/* This is the stuff to make it pretty */
body {
    font-family: "Abel", sans-serif;
    font-size: medium;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 2rem 0;
}

h2 {
    font-size: 1.7em;
    margin: 2rem 0;
}

h3 {
    font-size: 1.2em;
}

.quiz-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}


.questions {
    margin: 0 2rem 2rem 2rem;
}


.options {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.no-flexbox .options {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
}

.submit {
    max-width: 60%;
    height: 60px;
    margin-left: 150px;
    margin-bottom: 20px;
    font-size: 1.5em;
    line-height: 1.3em;
    min-height: 3em;
    padding: 0.2em 1em;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 200ms ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff4500cf;
}

.answer {
    font-size: 1em;
    line-height: 1.3em;
    min-height: 3em;
    padding: 0.2em 1em;
    text-align: center;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 200ms ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox .answer:first-child {
    margin-right: 1rem;
}

.flexbox .three.answer:last-child {
    margin-left: 1rem;
}

.two {
    width: 47%;
}

.three {
    width: 31%;
}

.four {
    width: 21%;
}

.no-flexbox .answer {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #fff;
}

.no-flexbox .two {
    width: 48%;
    margin: 0 1%;
}

.no-flexbox .three {
    width: 31%;
    margin: 0 1%;
}



/* Set colors */
.answer {
    background-color: #ff45005e;
}

    .answer:hover {
        background-color: orangered;
    }

    .answer.disable:hover,
    .disable.wrong:hover {
        background-color: #ff4500a8; /* keep same as default color to preven color change if question has already been answered correctly */
    }

/*.clicked.answer,
.clicked.disable.wrong:hover {
    background-color: #fb9595;*/ /* change color when wrong */
    /*color: white;
}*/

.clicked.answer,
.disable.answer:hover {
    background-color: #ff5a1df0;
    color: white;
}
/* Winner Modal */
#winner {
    background: #75654d;
    background: rgba(117, 101, 77, 0.5);
}

#modal {
    background: #f9f3e8;
    border-radius: 10px;
}

@media all and (max-width: 800px) {
    .options {
        /* Stack answers if screen gets too small */
        flex-direction: column;
    }

    .answer {
        margin: 0.5rem 0;
    }

    .flexbox .answer:first-child {
        margin-right: 0;
    }

    .flexbox .three.answer:last-child {
        margin-left: 0;
    }

    .two,
    .three {
        width: 100%;
    }
}
input.toggle {
  display: none;
}
input.toggle + label {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background: #C1C1C1;
  height: 1em;
  line-height: 1em;
  width: 55px;
  border-radius: 0.2em;
  padding: 0;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  cursor: pointer;
  border-radius: 30px;
}
input.toggle + label:before {
  position: relative;
  display: inline-block;
  font-size: 0.8em;
  width: 1.1em;
  height: 1.1em;
  text-align: center;
  color: #ff4500cf;
  margin-left: 1.25em;
  top: -1px;
  border-radius: 30px;
}
input.toggle + label:after {
  display: inline-block;
  box-sizing: border-box;
  content: "";

  border-radius: 0.2em;
  background: #ffffff;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  position: absolute;
  top: 1px;
  left: 2px;
  width: 28px;
  height: 28px;
  border-radius: 30px;
}
    input.toggle:checked + label {
        background-color: #ff5a1df0;
    }
input.toggle:checked +label:before {
  margin-left: 0.075em;
}
input.toggle:checked +label:after {
  left: calc(100% - 1em);
}
input.toggle[disabled] + label,
input.toggle[readonly] + label {
  opacity: 0.5;
  cursor: default;
}


#subBtn:hover {
    background-color: #f64a0b;
}